*  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #808080;
}
img {
    width: 15%;
    height: auto;
    border-radius: 50%;
}
img:hover {
    opacity: 0.1;
}
img:active {
    border: 10px solid #000000;
    border-radius: 10px;
    opacity: 1;
}

